<form class="form" role="form" autocomplete="off" th:object="${clientForm}" th:action="@{/clientForm}" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" th:field="${clientForm.nombrePropietario}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" th:field="${clientForm.apellidoPropietario}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Modelo del auto</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" th:field="${clientForm.modeloAuto}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Garage</label>
    <div class="col-lg-9">
      <input class="form-control" type="number" th:field="${clientForm.garage}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Hora de llegada</label>
    <div class="col-lg-9">
      <input class="form-control" type="time" th:field="${clientForm.horaLlegada}">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-12 text-center">
      <input type="reset" class="btn btn-secondary" value="Cancel">
      <input type="submit" class="btn btn-primary" value="Save Changes">
    </div>
  </div>
</form>
