<div class="table-responsive" xmlns:th="http://www.w3.org/1999/xhtml">
  <table id="clientList" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Modelo del auto</th>
      <th scope="col">Garage</th>
      <th scope="col">Hora de llegada</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clientList}">
      <td th:text="${client.id}"></td>
      <td th:text="${client.nombrePropietario}"></td>
      <td th:text="${client.apellidoPropietario}"></td>
      <td th:text="${client.modeloAuto}"></td>
      <td th:text="${client.garage}"></td>
      <td th:text="${client.horaLlegada}">
      <td>
        <a href="#" th:href="@{${client.id}}"><i class="fas fa-edit"></i></a>
        | <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${client.id} +'\');'"><i class="fas fa-client-times"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>